<nav class="navbar navbar-expand-lg">
    <div class="container-fluid nav__button__container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/inicio}" th:if="${session.usuariosession != null}" class="header__nav__enlace">Inicio</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/mascotas/mascota(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}" class="header__nav__enlace">Mascotas</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/parejas/seleccionar(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}" class="header__nav__enlace">Parejas</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/administradores/administrador(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}" class="header__nav__enlace">Administrador</a>
                </li>
            </ul>
        </div>
    </div>
 </nav>
