<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>

    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <h3 class="main__card__h3">Autores</h3>
                <div class="main__card__object">
                    <div class="main__object--buscador">
                        <form th:action="@{/autores/proceso-buscar(id=__${session.usuariosession.id}__)}" method="post" enctype="application/x-www-form-urlencoded">
                            <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                            <div class="form__container__buscar">
                                <input type="text" placeholder="Ingrese nombre del autor" name="qautor" required>
                                <button type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                    <div class="object__button__container">
                        <div class="object__btn">
                            <a th:href="@{/autores/ingresar(id=__${session.usuariosession.id}__)}" th:if="${role != 'USUARIO'}">Registrar Autor</a>
                        </div>
                        
                        <div class="object__btn">
                            <a th:href="@{/autores/listar-activas(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}">Autores Activos</a>
                        </div>
                        
                        <div class="object__btn">
                            <a th:href="@{/autores/listar-todas(id=__${session.usuariosession.id}__)}" th:if="${role != 'USUARIO'}">Lista Autores</a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
