<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

    <header th:replace="/fragments/header :: header"> </header>

    <main>
        <div class= "main">
            <div class ="main__card">
                <h2>Ingresar Editorial</h2>
                <form th:action="@{/editoriales/proceso-ingresar(id=__${session.usuariosession.id}__)}" method="post" enctype="multipart/form-data">
                    <div class="form__container">
                        <p th:if="${error != null}" th:text="${error}" class="warn"></p>
<!--                        <input type="hidden" name="id" th:value="${perfil.id}"/>-->
                        <input type="text" placeholder="Nombre de la Editorial" name="nombre" th:value="${nombre}">
                        
<!--                        <input class ="input-f"  name="archivo" type="file" accept="image/png, image/jpeg">-->
<!--                        th:value="${perfil.foto}"-->
                        <button type="submit">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer th:replace="/fragments/footer :: footer"></footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>