<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <h3 class="main__card__h3">Inicio</h3>
                <div> 
                    <img th:if="${perfil.foto != null}" th:src="${'/foto/perfil/' + perfil.id}" class="pic-square" alt="user">
                    <img th:if="${perfil.foto == null}" src="/img/avatar.jpg" class="pic-square" alt="user">
                </div>
            </div>
        </div>
    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
