<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>

    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <h3 class="main__card__h3">Mascotas</h3>
                <div class="main__card__object">
                    <div class="object__button__container">
                        <div class="object__btn">
                            <a th:href="@{/mascotas/ingresar(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}">Ingresar Mascota</a>
                        </div>
                    </div>
                    <div th:each="mascota:${mascotas}" class = "object--single--pic">
                        <div>
                            <img th:if="${mascota.foto != null}" th:src="${'/foto/mascota/' + mascota.id}" class="pic-square" alt="mascota">
                            <img th:if="${mascota.foto == null}" src="/img/peticon.png" class="pic-square" alt="mascota">
                        </div>
                        <div class="object__data">
                            <div>
                                <p class ="sub-tit">Nombre: <span th:text="${mascota.nombre}"></span></p>
                            </div>
                            <div>
                                <p class ="sub-tit"> Apodo: <span th:text="${mascota.apodo}"></span></p>
                            </div>
                            <div>
                                <p class ="sub-tit">Especie: <span th:text="${mascota.especie.nameSpe}"></span></p>
                            </div>
                            <div>
                                <p class ="sub-tit">Raza: <span th:text="${mascota.raza.nameRaza}"></span></p>
                            </div>
                            <div>
                                <p class ="sub-tit">Sexo: <span th:text="${mascota.gen.genM}"></span></p>
                            </div>                        
                            <div>
                                <p class ="sub-tit">Pelaje: <span th:text="${mascota.col.nameCol}"></span></p>
                            </div>
                            <div>
                                <p class ="sub-tit">Raza: <span th:text="${mascota.raza.nameRaza}"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </main>
    
    <footer th:replace="/fragments/footer :: footer"></footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>