<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    
<head th:replace="/fragments/head :: head"></head>

<body>
    
    <header th:replace="/fragments/header :: header"> </header>
    
    <main>
        <div class = "main">
            <div class= "main__card">
                <h3 class="main__card__h3">Solicitar Prestamo</h3>
                <div class="main__card__object main__card__prestamo">
                    <div class="object__button__container">
                        <form th:action="@{/prestamos/proceso-generar-solicitud(id=__${session.usuariosession.id}__)}" method="post" enctype="multipart/form-data">
                            <div class="form__container">
                                <p th:if="${error != null}" th:text="${error}" class="warn"></p>
                                <p th:if="${success != null}" th:text="${success}" class="ok"></p>
                                <p>Seleccione un Libro</p>
                                <select name="libroId">
                                    <option th:each="libro : ${libros}" th:value="${libro.id}" th:text="${libro.titulo}" th:selected="${libroId}"></option>
                                </select>
                                <div class="object__btn">
                                    <button type="submit">Generar Solicitud</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class = "container__lista__object">
                        <div class = "lista__object">
                            <h4>Lista de Solicitudes pendientes</h4>
                            <p th:if="${mes1 != null}" th:text="${mes1}" class="ok"></p>
                            <div  th:each ="solicitud:${solicitudes}" class="object__btn">
                                <div class="object__delete__container">
                                    <div>
                                        <p th:text="${solicitud.libro.titulo}" class="object__name__btn"></p>
                                    </div>
                                    <div>
                                        <form th:action="@{/prestamos/proceso-eliminar-solicitud(id=__${session.usuariosession.id}__, solicitId = __${solicitud.id}__)}" method="post" enctype="multipart/form-data">
                                            <div class="form__container object__btn-3">                   
                                                <button type="submit">Eliminar Solicitud</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class = "lista__object">
                            <h4>Lista Prestamos en curso</h4>
                            <p th:if="${mes2 != null}" th:text="${mes2}" class="ok"></p>
                            <div th:each ="prestamo:${prestamos}" class="list_txt">
                                <p th:text="${prestamo.libro.titulo}" class="object__name__btn"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>